#current-time {
            font-size: 20px;
            color: #fff; /* 设置文字颜色为白色 */
            background: linear-gradient(to right, #ff7e5f, #feb47b); /* 添加颜色渐变效果 */
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }